.ytdt {
	display: flex;
	flex-direction: column
}

.ytdt .toggle {
	width: max-content;
    color: inherit;
    border: solid 2px;
    padding: .4rem;
    font: inherit;
}

.ytdt .captions {
	margin: 1rem;
	height: 10rem;
	overflow-x: auto
}

.ytdt .captions.closed {
	display: none
}

.ytdt .caption {
	cursor: pointer;
	display: block;
  	opacity: 70%;
}

.ytdt .caption.highlight {
	font-size: 120%;
  	opacity: initial;
}