.ytdt {
    display: flex;
    flex-direction: column;

    .toggle{
        width: max-content;
    }

    .captions {
        margin: 1rem;
        height: 15rem;
        overflow-x: scroll;
        &.closed{
            display: none;
        }
    }

    .caption {
        cursor: pointer;
        display: flex;

        &.highlight {
            font-size: 120%;
            background-color: yellow;
        }
    }
}